*, 
*::before, 
*::after {
  box-sizing: border-box;
  border: 1px dotted black;
  margin: 0;
}
body {
  padding: 0;
}

header {
  height: 10vh;
}

main {
  display: flex;
  height: 90vh;
  padding: 20px;
  
  section.game-window {
    width: 60vw;
  }

  aside.user-interface {
    width: 40vw;
  }
}