*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 2000px;
  margin: auto;
}

header {
  height: 10vh;
}

main {
  display: flex;
  height: 90vh;
  background-color: $secondary-dark;

  section.game-window {
    width: 60vw;
  }

  aside.user-interface {
    width: 40vw;
  }
}