section.charge-bar-container {
  padding: 10px;
  height: 10%;

  div {
    display: flex;
    justify-content: center;

    span.charge-bar {
      width: 33%;
      height: 20px;
      border: 2px solid black;
    }
  }
}