article.challenge-card {
  background-color: $primary-dark;
  
  div {
    color: $question-font-color;
    font-family: $code-font;
    margin: 20px;
    padding: 10px;
    border: 1px dashed blue;
  }
  div:first-child {
    font-family: $secondaryFont;
  }
}