section.challenge-history {
  overflow: scroll;
  background-color: $primary-light;

  h3 {
    color: $primary-light;
  }

  h4 {
    margin: 30px;
    font-size: 2rem;
    opacity: .2;
  }

  article {
    text-align: left;
    border-radius: 10px;
    background-color: $secondary-dark;
    margin: 20px;
    padding: 10px;

    p {
      margin: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      display: flex;
    }

    p.challenge span {
      margin: 0 10px;
      font-size: 1rem;
      background-color: $primary-dark;
      border-radius: $input-border-radius;
      color: $secondary-light;
      padding: 4px 10px;
    }

    p.command span {
        font-family: $code-font;
        background-color: $command-input-color;
        color: white;
        font-size: 1rem;
        padding: 4px 10px;
        border: $input-border;
        border-radius: $input-border-radius;
        margin: 0 6px;
    }

    p a {
      margin: auto;
      color: $primary-light;
    }
  }
  
}