section.challenge-history {
  overflow: scroll;
  background-color: $primary-light;

  article {
    text-align: left;
    border-radius: 10px;
    background-color: $secondary-light;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;

    p {
      margin: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      display: flex;
    }

    p.challenge span {
      margin: 0 10px;
      font-size: 1rem;
      background-color: $secondary-dark;
      color: $secondary-light;
      padding: 3px 10px;
    }

    p.command span {
        background-color: $command-input-color;
        color: white;
        font-size: 1rem;
        padding: 2px 10px;
        border: $input-border;
        margin: 0 6px;
    }

    p a {
      margin: auto;
    }
  }
  
}