section.game-window {
    background: url('./images/star-background.jpg') repeat 0 0;
    animation: flow 1000s infinite linear; 
    position: relative;

  div.obstacle-container {
    position: relative;
    height: 100%;

    .obstacle {
      width: 15%;
      margin: 20px;
      position: absolute;
      animation: 7s spin infinite linear;
      transition: transform 1s ease-in-out;
    }
  }

  .octo-ship {
    width: 20%;
    position: absolute;
    bottom: 5%;
    transition: transform 1.9s ease-in-out;
  }
}