div.progress-indicator {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
  position: absolute;
  justify-content: space-around;
  align-items: flex-end;
  right: 0;
  top: 0;

  .current-round {
    background-color: skyblue;
  }

  span {
    width: 30%;
    height: 30%;
    background-color: white;
  }

  span:first-child,
  span:last-child  {
    width: 80px;
    margin: 0;
    height: 35px;
    text-align: center;
    font-size: 1.3rem;
    font-family: $secondaryFont;
  }
}