div.progress-indicator {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
  position: absolute;
  justify-content: space-around;
  align-items: flex-end;
  right: 0;
  top: 0;

  .current-round {
    background-color: $progress-bar-color;
  }

  span {
    width: 30%;
    border-top: 1px solid $primary-dark;
    height: 30%;
    background-color: rgba(255, 255, 255, .7);
  }

  span:first-child,
  span:last-child  {
    width: 100px;
    padding: 5px;
    height: 45px;
    text-align: center;
    font-size: 1.3rem;
    font-family: $secondaryFont;
  }

  span:first-child {
    border-radius: 0px 0px 0px 20px;
    border: none;
  }

  span:last-child {
    border-radius: 20px 0px 0px 0px;
  }

}