aside.user-interface {
  font-family: $secondaryFont;
  text-align: center;
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 30px;
  }

  form {
    height: 10%;
    margin: auto;
    width: 90%;
    border: 2px solid black;

    label {
      display: block;
    }
    
    input {
      width: 100%;
    }
  }
}
