aside.user-interface {
  font-family: $secondaryFont;
  display: flex;
  flex-direction: column;
  background-color: $secondary-light;
  text-align: center;

  h2 {
    margin: 20px;
    padding: 10px;
    background-color: $secondary-dark;
    color: $secondary-light;
    border-radius: 20px;
  }

  h3 {
    margin: 0;
    padding: 20px 0;
    color: $secondary-light;
    background-color: $secondary-dark;
  }

  article.challenge-card {
    flex: 1;
  }
  
  div.form-container {
    flex: 1;
    background-color: $primary-dark;
    position: relative;

    form {
      label {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      
      input {
        width: 100%;
        height: 40px;
        background-color: $command-input-color;
        text-indent: 10px;
        font-family: $code-font;
        color: white;
      }
    }
  }

  div.solution-box {
    margin: 20px;
    color: white;

    h4 {
      font-size: 1.5rem;
    }
    p {
      margin: 5px;
    }
  }

  section.challenge-history {
    flex: 2;
  }
}
