@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

$secondaryFont: 'IBM Plex Sans', sans-serif;
$headerFont: 'Bungee Outline', cursive;

@keyframes upDown {
  0% { 
    bottom: 30%;
    left: 20%;
  }
  50% { 
    bottom: 33%;
    left: 20%;
  }
}

@keyframes flow {
  100%{
    background-position: 0 100000%;
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes forward {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 2000%;
  }
}

.ship-position-1 {
  left: 0%; 
}

.ship-position-2 {
  left: 20%; 
}

.ship-position-3 {
  left: 40%; 
}

.ship-position-4 {
  left: 60%; 
}

.ship-position-5 {
  left: 80%; 
}


.obstacle-pos-10 {
  left: 0;
}
.obstacle-pos-20 {
  left: 20%;
}
.obstacle-pos-30 {
  left: 40%;
}
.obstacle-pos-40 {
  left: 60%;
}
.obstacle-pos-50 {
  left: 80%;
}
.obstacle-pos-60 {
  left: 40%;
  top: 30%;
}

.obstacle-pos-11 {
  left: 0;
  top: 20%;
}
.obstacle-pos-21 {
  left: 20%;
  top: 10%;
}
.obstacle-pos-31 {
  left: 40%;
  top: 15%;
}
.obstacle-pos-41 {
  left: 60%;
  top: 13%;
}
.obstacle-pos-51 {
  left: 80%;
  top: 19%;
}
.obstacle-pos-61 {
  left: 80%;
  top: 30%;
}